*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.programador-sim{
    display: none;
    animation: aparecerAoLado 100ms ease;
}

body{
    width: 100%;
    height: 100vh;
    background: url(../imagem/background.jpg);
    background-size: cover;
    overflow:hidden;
}

.Texto h1{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    width: 44vh;
    color: #fafafa;
    font-size: 2rem;
}

.container{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    width: 70vh;
    background: rgba( 84, 84, 84, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.botao{
    margin: 30px 0;
    position: relative;
}
.botao .blabel{
    position: absolute;
    color: #fafafa;
    padding: 0 5px;
    font-weight: bold;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    cursor: text;
    font-size: 1.1rem;
    transition: 1s ease-in-out;
    width: 200px;
}
.register{
    width: 19rem;
    height: 2rem;
    padding-left: 15px;
    background: none;
    border: 3px solid #ddd;
    border-style: none none solid none;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
    transition: 1s ease-in-out;
    outline: none;
    position: relative;
}

#aboutu{
    max-width: 40vh;
    max-height: 8vh;
    min-width: 100%;
    min-height: 5vh;
}

.botao input:focus, .botao input:valid{
    border-color: #5a55ae;
    transition: 1s ease-in;
}

.label-active{
    transform: translateY(-22px) scale(0.8) translateX(-15px);
    transition: 1s ease-in;
}

.botao-aniversario{
    display: flex;
    position: relative;
    width: 12rem;
}

.birthday{
    position: absolute;
    top: -10px;
    left: 9.5px;
    background-color: #fafafa;
    color: #000;
    padding: 1px 5px;
    border-radius: 5px 5px 0 0;
    font-size: .9rem;
    font-weight: bold;
    cursor: text;
    border: 3px solid #3f51b1;
    border-style: solid solid none solid;
}

.aniversario{
    margin-top: 10px;
    width: 10rem;
    height: 2rem;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
    outline: none;
    cursor: pointer;
    border: #3f51b1 3px solid;
}

.botao-arquivo{
    display: flex;
    flex-direction: column;
    position: relative;
}

.IdFoto{
    cursor: pointer;
    padding-top: .6rem;
    width: 8rem;
    height: 3rem;
    border: 3px solid #3f51b1;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
    outline: none;
    font-weight: bold;
    background-color: #fafafa;
    text-align: center;
    transition: 1s ease-in-out;
}

.IdFoto:hover{
    background-color: #3f51b1;
    color: #fafafa;
    border: #5a55ae;
    padding-top: .8rem;
    transform: scale(1.2);
    transition: ease .5s;
}

.Foto{
    display:none;
}

.info-pessoais{
    display: flex;
    margin: 15px 0;
}

.botao-sexualidade{
    position: relative;
    width: 100%;
}

.bslabel{
    background-color: #fafafa;
    color: #000;
    padding: 2.5px 5px;
    border-radius: 5px 5px 0 0;
    font-size: .9rem;
    font-weight: bold;
    cursor: text;
    border: #3f51b1 3px solid;
    border-style: solid solid none solid;
}

.bsseletor{
    background-color: #fafafa;
    color: #000;
    margin: 0 auto;
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    border: #3f51b1 3px solid;
    outline: none;
}

.bsseletor option{
    appearance: none;
    background-color: #fafafa;
    border: #3f51b1 3px solid;
}

.botao-trabalho{
    color: #fafafa;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
}

.radio-Progamador{
    appearance: none;
    background-color: #d6d6dd;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-top: 5px;
    border: rgba(0, 0, 0, 0.1);
    margin: 5px 2px 0 2px;
    position: relative;
}

.radio-Progamador:checked{
    background-color: #3f51b1;
    transition: 400ms ease;
}
.radio-Progamador:checked::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fafafa;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.experienciaProfissional{
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 8px;
}

.programador-sim{
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 8px;
}

.submit{
    margin: 0 auto;
    margin-top: 10px;
    width: 35vh;
    height: 8vh;
}

.submitButton{
    width: 100%;
    position: relative;
    height: 100%;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fafafa;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: ease .5s;
}

.submitButton:hover{
    background-color: #3f51b1;
    color: #fafafa;
    border: #5a55ae;
    transform: scale(1.2);
    transition: ease .5s;
}


.formulario{
    width: 40vh;
}

.caixaChecagem{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin: 0 5px;
    background-color: #d6d6dd;
    position: relative;
}

.caixaChecagem:checked{
    background-color: #3f51b1;
}

.caixaChecagem:checked::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 5px;
    border: 3px solid #fafafa;
    border-style: none solid solid none;
    left: 4px;
    top: 2.5px;
    transform: rotate(45deg);
}

@keyframes aparecerAoLado{
    from{
        transform: translateX(-20vh);
    }
    to{
        transform: translateX(0);
    }
}